:root{
    --font-primary: "Poppins", sans-serif;
}
*{
    margin:0;
    padding: 0;
    font-family: var(--font-primary);
}
body{
    /* background-color: #f2f2f2; */
    background-image: url(bg4.webp);
    background-repeat: 
    no-repeat;
    background-position: centre;
    background-size: cover;
    
}
nav{
    background-color: #fff;
    padding: 12px 0;
    color: gold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin:auto;
}
.right-side{
    width: 60%;
}
.left-side{
    width: 40%;
}
#main-menu{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 62px;
    align-items: center;
    height: 100%;
}
#main-menu li{
    list-style: none;
}
#main-menu li > a{
    text-decoration: none;
    color: initial;
    font-size: 18px;
}
#main-menu > li>a:hover{
    color: #0e9300;
    text-decoration: underline;
}
.highlight{
    color: #0e9300;
}
.left-side > a {
    text-decoration: none;
    color: initial;
    font-size: 25px;
}
.profile-section-wrapper{
    width: 85%;
    margin: auto;
    padding: 80px 0; 
    /* trbl  =>  clockwise
    padding: val1 val2 val3 val4
    tb rl
    */
    display: flex;
}
.profile-left-side{
    width: 50%;
}
.profile-left-side > img{
    width: 89%;
    aspect-ratio: 3/4;
    object-fit: cover;
}
.profile-right-side{
    width: 50%;
}
.profile-title{
    font-size: 40px;
}
.profile-right-side > p{
    margin: 25px 0;
}
.icons >a> i{
    font-size: 30px;
}
/* .github{
    color: #e7edf4;
} */
.icons > a{
    color: black;
    text-decoration: none;
}
.icons>a:nth-child(even){
    padding: 0 20px;
}
.services-wrapper{
    width: 85%;
    margin:auto;
}
.section-title-area{
    text-align: center;
}
.section-title{
    font-size: 30px;

}
.section-title::after{
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    background-color: #0e9300;
    margin: 5px auto;
    
}
.service > * {
    text-align: center;
}
.services-list{
    display: flex;
    gap: 50px;
    padding: 70px 0;
}
.service > div > i{
    font-size: 40px;
    background-color:#8ab385!important;
    padding: 30px;
    border-radius: 50%;
    color: white;
}

.service-title{
    margin: 15px 0;
}
.contact-form-wrapper{
    width: 85%;
    margin:auto;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 12px;
}
form{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    justify-content: center;
}
.form-group > label{
    font-size: 18px;
}
.form-group > input{
    padding: 8px;
}
.form-group > textarea{
    width: 100%;
    height: 220px;
    resize: none;
}
/* .footer-title{
    font-size: 30px;
    text-align: center;
}
footer{
    padding: 30px;
    background-color: #fff;
}
footer > p{
    font-size: 18px;
    text-align: center;

} */
.main-footer {
    background-color: #f8f9fa;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.social-icons a {
    color: #000;
    font-size: 20px;
    margin: 0 10px;
    padding: 0 20px;
}

.fb:hover {
    color: #007bff;
}
.insta:hover{
    color: rgb(88, 81, 219);
}
.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
footer{
    background-image: url(bg4.webp);
}
 