:root{
    --font-primary:  "Montserrat";
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat";
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3b3b;
}

.bg{
    width: 100%;
    height: 100%;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    opacity: .2;
    /* margin: 0;
    padding: 0;
    background-size: cover; */
    
}

.container{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 80px;
    margin-bottom: 40px;
}

h3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.progress-bar{
    width: 360px;
    height: 12px;
    background-color: #d1d1d1;
    margin: auto;
    margin-bottom: 100px;
    opacity: .8 ;
    position: relative;
}

.progress-bar::before{
    content: "0%";
    position:absolute;
    left: 0;
    font-size: 12px;
    bottom: -18px;

}
.progress-bar::after{
    content: "100%";
    position:absolute;
    right: 0;
    font-size: 12px;
    bottom: -18px;
}

.progress-bar span{
    display: block;
    width: 80%;
    height: 12px;
    background-color: #87b1de;
    animation: fill is ease-in 1;
}

@keyframes fill{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
.sm a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #87b1de;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    margin: 0 10px;
    opacity: .7;
    transition: .3s linear;
}


.sm a:hover{
    transform: scale(1.1);
    opacity: 1;
}

.footer-content p {
    font-size: 14px;

}
footer{
    padding-top: 150px;
}
/* footer{
    background-image: url(bg4.webp);
} */

